#card_pokemon{
    margin: 10px;
    border-radius: 5px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;  
    gap: 10px;
}
#name_pokemon{
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}
#pokemon_img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    align-self: center;
}
#top-card{
    padding: 10px;
    text-align: right;
    font-weight: 600;
}
#bottom-card{
    font-weight: 600;
    padding: 10px;
}

